* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
}

/* //상단 nav css 코드 */
.nav-container {
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  background-color: white;
}

.logo-text {
  font-family: "Lobster", cursive;
  font-size: 24px;
}

.center-wrapper {
  border-radius: 7px;
  background-color: #efefef;
  padding: 8px 10px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 250px;
}

.search-text {
  color: gray;
  font-size: 15px;
  padding: 0 4px;
}

.search-input {
  border: none;
  background-color: #efefef;
}

.search-input:focus {
  outline: none;
}

.icon-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-box img {
  width: 25px;
  margin: 7px;
}
/* 상단 nav css 코드 끝 */

/* feed css 코드 */
.feed-container {
  display: flex;
  padding: 0 18%;
}

.feed-whole-wrapper {
  border: 1px solid lightgray;
  background-color: white;
  width: 470px;
  margin-top: 30px;
  border-radius: 10px;
}

.feed-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.profile-box {
  padding: 8px 10px 6px;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 70%;
  border: 1px solid lightgray;
  overflow: hidden;
  margin-right: 10px;
}

.menu-box {
  padding-right: 20px;
}

.menu-box img {
  width: 20px;
}

.feed-photo {
  width: 100%;
}

.feed-comment-wrapper {
  display: flex;
}

.comment-icon-box {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  margin-left: 2px;
}

.comment-icon-box img {
  width: 23px;
}

.save-icon {
  padding-top: 4px;
  padding-right: 8px;
}

.like-comment-box {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.like-profile-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 70%;
  overflow: hidden;
  margin: 0 3px 1px 10px;
}

.like-profile-text {
  font-size: 14px;
  text-align: center;
}

.like-profile-text span {
  font-weight: bold;
}

.comment-text-box li {
  list-style-type: none;
  padding-bottom: 3px;
}

.comment-text-box p {
  font-size: 14px;
  height: 22px;
  display: inline;
}

.id,
.comment-text-box span {
  margin: 0 0 0 10px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 3px;
}

.minute {
  font-size: 12px;
  color: grey;
  margin: 8px 0 10px 10px;
}

.feed-text {
  display: flex;
  margin-top: 8px;
  margin-left: 10px;
}

.feed-text div {
  font-size: 14px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.profile-id {
  font-weight: bold;
}

.plus-content {
  color: grey;
}

.comment-input {
  border-top: 1px solid lightgray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.upload-id-input,
.upload-comment-input {
  border: none;
  height: 30px;
}

.upload-id-input:focus,
.upload-comment-input:focus {
  outline: none;
}

.upload-id-input {
  width: 70px;
}

.upload-comment-input {
  width: 65%;
}

.upload-btn {
  border: none;
  background-color: white;
  font-weight: bold;
  color: rgba(100, 148, 237, 0.655);
}
