.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border: 1px solid lightgray;
}
.icon-and-logo-box {
  display: flex;
  align-items: center;
}

.justgram-icon {
  height: 30px;
  margin-right: 20px;
  margin-left: 50px;
}

.right-icons {
  float: left;
}
.icon-size {
  height: 30px;
  margin: 0px 10px;
}
.feed-icon-size {
  height: 30px;
  margin: 0px 3px;
}

.header-logo-text {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.search {
  /* background-image: url(); */
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
}

.feed {
  display: flex;
  margin-left: 100px;
}

.feed-header {
  display: flex;
  width: 500px;
  height: 40px;
  border: 1px solid lightgray;
  margin-top: 50px;
  background-color: white;
  align-items: center;
}

.feed-img {
  width: 501px;
  height: 600px;
  background-image: url("/img/mycats.png");
  background-size: cover;
}

.feed-menu-bar {
  width: 500px;
  height: 100px;
  border: 1px solid lightgray;
}

.likes {
  display: flex;
  align-items: center;
}

.comments {
  display: flex;
  width: 500px;
  height: 50px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
}
